{% extends "base.html" %}

{% block title %}Student Timetable{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h4 class="mb-0">Class Timetable</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thursday</th>
                        <th>Friday</th>
                    </tr>
                </thead>
                <tbody>
                    {% for schedule in timetable %}
                    <tr>
                        <td>{{ schedule.start_time }} - {{ schedule.end_time }}</td>
                        <td>{{ schedule.subject_name }} ({{ schedule.teacher_name }})</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}